	<!-- BEGIN #sidebar -->
    <div id="sidebar" class="app-sidebar">
        <!-- BEGIN scrollbar -->
        <div class="app-sidebar-content" data-scrollbar="true" data-height="100%">
            <!-- BEGIN menu -->
            <div class="menu">
                <div class="menu-header">Maestros</div>
                <div class="menu-item active">
                    <a routerLink="pacientes" class="menu-link">
                        <span class="menu-icon"><i class="fa-sharp fa-solid fa-head-side-mask "></i></span>
                        <span class="menu-text">Pacientes</span>
                    </a>
                    <a routerLink="tratamientos" class="menu-link">
                        <span class="menu-icon"><i class="fa-solid fa-syringe"></i></span>
                        <span class="menu-text">Tratamientos</span>
                    </a>
                </div>
            </div>
            <!-- END menu -->
        </div>
        <!-- END scrollbar -->
        
        <!-- BEGIN mobile-sidebar-backdrop -->
        <button class="app-sidebar-mobile-backdrop" data-dismiss="sidebar-mobile"></button>
        <!-- END mobile-sidebar-backdrop -->
    </div>
    <!-- END #sidebar -->